body {
    background-color: #107d2d;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

#main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.center {
    text-align: center;
}


.margin {
    margin: 0 50px;
}

.tabelaEditavel {
    text-align: center;
    border: solid 1px;
    width: 100%;
}

.tabelaEditavel td {
    border:solid 1px;
}