body {
  background-color: #107d2d;
	margin: 0;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 100px;
}


.main-hero {
  background-image: url(/images/Principal.jpg);
  background-size: cover;
}



main{
	max-width: 85%;
	margin-right: auto;
	margin-left: auto;
	background-color: darkgreen;
	border-radius: 10px;
	padding: 10px;
	opacity: 95%;
}

nav{
	background-color: #107d2d;
  border: solid;
  padding: 2px;
  border-top-width: 0px;
  border-right-width: 0px;
	border-left-width: 0px;
  border-bottom-width: 5px;
  box-shadow: 0px 0px 30px rgb(3, 24, 1);
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

nav ul li{
  display: inline-block;
  margin-left: 30px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  border-top-width: 0px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  background-color: rgb(51, 172, 51); 
	box-shadow: 0px 0px 10px black;
}    

ul li:hover{
  background-color: darkgray;
}

#main-footer {
	text-align: center;
	margin-top: 50px;
	color: rgb(5, 5, 5);
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.center {
  text-align: center;
	position: relative;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.margin {
  margin: 0 50px;
}

.tabelaEditavel {
  text-align: center;
  border: solid 1px;
  width: 100%;
}

.tabelaEditavel td {
  border:solid 1px;
}