body {
  background-color: darkgreen;
	margin: 0;
}

main{
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	background-color: darkgreen;
	border-radius: 10px;
	padding: 10px;
}

.medicao{
  margin-top: 50px;
}

nav{
	background-color: #107d2d;
  border: solid;
  padding: 2px;
  border-top-width: 0px;
  border-right-width: 0px;
	border-left-width: 0px;
  border-bottom-width: 5px;
  box-shadow: 0px 0px 30px rgb(3, 24, 1);
}

nav ul li{
  display: inline-block;
  margin-left: 30px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  border-top-width: 0px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  background-color: rgb(51, 172, 51); 
	box-shadow: 0px 0px 10px black;
}    

ul li:hover{
  background-color: darkgray;
}