body {
    background-color: rgb(7, 102, 7);
      margin: 0 30px;
    line-height: 30px;
    font-family: sans-serif;
  }
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 50;
}  
main {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      background-color: darkgreen;
      border-radius: 10px;
      padding: 10px;
}
  
.medicao {
    margin-top: 110px;
}
  
nav{
      background-color: #107d2d;
    border: solid;
    padding: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
      border-left-width: 0px;
    border-bottom-width: 5px;
    box-shadow: 0px 0px 30px rgb(3, 24, 1);
  }
  
nav ul li {
    display: inline-block;
    margin-left: 30px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    border-top-width: 0px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    background-color: rgb(51, 172, 51); 
      box-shadow: 0px 0px 10px black;
}    
  
ul li:hover {
    background-color: darkgray;
}
a:link, a:visited {
	text-decoration: none;
	color: black;
}
.center {
    text-align: center;
      position: relative;
}
  
.left {
    text-align: left;
}
  
.right {
    text-align: right;
}
  
.margin {
    margin: 0 50px;
}

.text1{
    text-align: justify;
    background-color:wheat;
    padding: 15px;
  }